/*TE style */
* {
  outline: none !important;
  font-family: "PT Sans", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body {
  background-color: #e9eaea;
}

ul {
  margin: 0;
  padding: 0 !important;
}
ul li {
  list-style: none;
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}

.te-footer {
  background-image: url(../img/footer_bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 580px;
}
.te-footer__bottomMenu ul li {
  padding: 0 10px;
  display: inline-block;
}
.te-footer__bottomMenu ul li a {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}
.te-footer__social {
  width: 200px;
  margin: 0 auto;
}
.te-footer__social ul li {
  float: left;
  padding: 0 2px;
}
.te-footer__bottom {
  background: rgba(0, 0, 0, 0.3);
  height: 120px;
  margin-top: 50px;
  padding-top: 50px;
}
.te-footer__map iframe {
  width: 500px;
  height: 450px;
  margin: 55px auto 0;
  display: block;
}
.te-footer__info {
  max-width: 380px;
  margin: 0 auto;
  font-size: 16px;
  font-style: italic;
  color: #fff;
}
.te-footer__info a {
  color: #fff;
}
.te-footer__info a:hover {
  color: #fff;
}
.te-footer__info-phone {
  float: left;
}
.te-footer__info-mail {
  float: right;
}
.te-footer__form {
  max-width: 410px;
  margin: 0 auto;
}
.te-footer__form input, .te-footer__form textarea {
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  text-align: center;
  border: none;
  width: 100%;
  height: 40px;
  margin: 5px;
}
.te-footer__form textarea {
  height: 90px;
  text-align: left;
  padding: 15px;
  resize: none;
}
.te-footer__form .te-submit {
  color: #27a9b5;
}
.te-footer__shop {
  color: #fff;
  margin-top: 50px;
}
.te-footer__shop h4 {
  font-size: 20px;
  text-align: center;
}
.te-footer__shop ul {
  max-width: 420px;
  margin: 0 auto;
}
.te-footer__shop ul li {
  float: left;
  text-align: center;
  padding: 0 10px;
}
.te-footer__shop ul li a {
  color: #fff;
  font-size: 18px;
}

.te-popular__header {
  background-image: url(../img/header_bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 73px;
}
.te-popular__header h2 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  display: inline-block;
  width: 100%;
}
.te-popular__header .row:nth-child(2) .col-lg-12 {
  padding: 0;
}
.te-popular__slider {
  margin-bottom: 50px;
}

.te-productCard {
  width: 250px;
  background-color: #fff;
  padding: 10px;
  margin: 25px;
  -webkit-box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.2);
}
.te-productCard__img img {
  display: block;
  margin: 0 auto;
  padding: 15px 0;
}
.te-productCard__title {
  text-align: center;
}
.te-productCard__title a {
  font-size: 16px;
  color: #27a9b5;
  margin: 20px 0;
  display: inline-block;
}
.te-productCard__info {
  font-size: 14px;
}
.te-productCard__info a {
  margin: 0 0 5px;
  color: #b5b5b5;
}
.te-productCard__info span {
  float: right;
}
.te-productCard__info p {
  margin: 0 0 5px;
  color: #b5b5b5;
}
.te-productCard__info .te-instock {
  color: #72b462;
}
.te-productCard__info .te-price_old {
  text-decoration: line-through;
}
.te-productCard__info img {
  display: inline-block !important;
}
.te-productCard__btn {
  margin: 20px auto;
}
.te-productCard__btn-cart, .te-productCard__btn-one {
  float: left;
  background-color: #27a9b5;
  padding: 10px 20px;
  border: 1px solid #27a9b5;
  text-align: center;
  width: 100px;
  font-size: 12px;
}
.te-productCard__btn-cart a, .te-productCard__btn-one a {
  color: #fff;
}
.te-productCard__btn-cart:hover, .te-productCard__btn-one:hover {
  background-color: #fff;
  cursor: pointer;
}
.te-productCard__btn-cart:hover a, .te-productCard__btn-one:hover a {
  color: #27a9b5;
}
.te-productCard__btn-one {
  float: right;
  background-color: #fff;
  padding: 10px 0;
}
.te-productCard__btn-one a {
  color: #27a9b5;
}
.te-productCard__btn-one:hover {
  background-color: #27a9b5;
}
.te-productCard__btn-one:hover a {
  color: #fff;
}

.slick-dots {
  margin: 0 auto !important;
  width: 125px;
  position: relative;
  top: 5px;
}
.slick-dots li {
  color: transparent;
  border: 2px solid #afd8dd;
  background: #afd8dd !important;
  padding: 3px 0;
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 0 3px;
  float: left;
  display: block;
  cursor: pointer;
  border-radius: 50%;
}
.slick-dots li:first-child {
  margin-left: 0 !important;
}
.slick-dots li:last-child {
  margin-right: 0 !important;
}
.slick-dots li button {
  color: transparent;
  background-color: transparent !important;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}
.slick-dots li.slick-active {
  border-color: #29a9b5;
  background: #29a9b5 !important;
}

.slick-track * {
  cursor: pointer;
}

.te-brand__header {
  background-image: url(../img/header_bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 73px;
}
.te-brand__header h2 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  display: inline-block;
  width: 100%;
}
.te-brand__header .row:nth-child(2) .col-lg-12 {
  padding: 0;
}
.te-brand__slider {
  background: #fff;
  padding: 5%;
}
.te-brand__slider img {
  margin: 0 40px;
}
.te-brand__slider .te-prev,
.te-brand__slider .te-next {
  position: absolute;
  left: -10px;
  top: 38%;
  cursor: pointer;
}
.te-brand__slider .te-next {
  right: -10px;
  left: unset;
}

.te-categoryGrid .te-catItem {
  background-color: #fff;
  padding: 10px;
  max-width: 250px;
  margin: 20px auto;
}
.te-categoryGrid .te-catItem__img img {
  display: block;
  margin: 0 auto;
}
.te-categoryGrid .te-catItem__title {
  margin: 15px auto;
}
.te-categoryGrid .te-catItem__title a {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #0a4f55;
  display: block;
}
.te-categoryGrid .te-catItem__links ul {
  margin-left: 35px;
}
.te-categoryGrid .te-catItem__links ul li {
  list-style-image: url(../img/li_cat.jpeg);
  margin-bottom: 10px;
}
.te-categoryGrid .te-catItem__links ul li a {
  font-size: 16px;
  color: #237e87;
}
.te-categoryGrid .te-catItem__links ul li a span {
  color: #757575;
}

.te-bg__header {
  background-image: url(../img/header_bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 73px;
}
.te-bg__header h2 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  display: inline-block;
  width: 100%;
}
.te-bg__header .row:nth-child(2) .col-lg-12 {
  padding: 0;
}

.te-productGrid .te-productCard {
  margin: 20px auto;
}
.te-productGrid__categoryBlock {
  -webkit-box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #fff;
  max-width: 500px;
  padding: 5px 20px;
  height: auto;
  display: inline-block;
}
.te-productGrid__categoryBlock h2 {
  font-size: 15px;
  text-transform: uppercase;
  padding: 0 5px;
  font-weight: 400;
  margin-bottom: 5px;
}
.te-productGrid__categoryBlock h2 a {
  color: #545353;
}
.te-productGrid__categoryBlock ul {
  float: left;
  margin: 5px 25px;
}
.te-productGrid__categoryBlock ul li {
  list-style-image: url(../img/li_cat_double.jpeg);
  margin-bottom: 10px;
}
.te-productGrid__categoryBlock ul li a {
  font-size: 14px;
  color: #6b6b6b;
}

.te-productPage .te-breadcrumbs {
  background: #fefbf8;
  padding: 10px;
  margin: 10px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.te-productPage .te-breadcrumbs ul li {
  display: inline-block;
}
.te-productPage .te-breadcrumbs ul li:after {
  content: ">>";
  color: #30acbc;
}
.te-productPage .te-breadcrumbs ul li:last-child:after {
  content: none;
}
.te-productPage .te-breadcrumbs ul li a {
  padding: 0 5px;
  font-size: 16px;
  color: #5d5d5d;
}
.te-productPage__title {
  background: #fefbf8;
  margin: 10px 0;
  padding: 0 10px;
  display: inline-block;
  width: 100%;
}
.te-productPage__title h1 {
  float: left;
  font-size: 18px;
}
.te-productPage__title span {
  float: right;
  color: #fff;
  background: #30acbc;
  font-size: 13px;
  padding: 10px;
  margin-top: 5px;
}
.te-productPage__title span:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-right: 15px solid #30acbc;
  border-bottom: 19px solid transparent;
  position: absolute;
  right: 154px;
  top: 15px;
}
.te-productPage__content {
  background: #fefbf8;
  padding: 20px;
}
.te-productPage__content-code span {
  float: left;
  color: #fff;
  background: #30acbc;
  font-size: 13px;
  padding: 10px;
  margin-top: 5px;
  left: -10px;
  position: relative;
  margin-bottom: 10px;
}
.te-productPage__content-code span:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-left: 15px solid #30acbc;
  border-bottom: 19px solid transparent;
  position: absolute;
  right: -15px;
  top: 0;
}
.te-productPage__content-img img {
  width: 100%;
}
.te-productPage__content-img p {
  color: #ff9f00;
  text-align: center;
  font-size: 12px;
}
.te-productPage__content-imgSmall img {
  max-width: 104px;
  float: left;
  margin: 10px 5px;
}
.te-productPage__content-imgSmall img:first-child {
  margin-left: 0;
}
.te-productPage__content-imgSmall img:last-child {
  margin-right: 0;
}
.te-productPage__content-soc {
  max-width: 370px;
  margin: 0 auto;
}
.te-productPage__content-soc p {
  font-size: 11px;
  float: left;
  margin: 10px;
}
.te-productPage__content-soc ul li {
  display: inline-block;
}
.te-productPage__content-soc ul li a img {
  border: 1px solid #30acbc;
  padding: 5px;
  margin: 5px;
}
.te-productPage__content-rait {
  margin: 20px auto 60px;
  width: 290px;
}
.te-productPage__content-rait img, .te-productPage__content-rait p, .te-productPage__content-rait a {
  float: left;
  margin: 0;
}
.te-productPage__content-rait p {
  margin: 0 20px;
}
.te-productPage__content-rait a {
  color: #30acbc;
}
.te-productPage__content-delivery, .te-productPage__content-pay, .te-productPage__content-garanty {
  background: #fff;
  padding: 30px;
  margin: 20px;
}
.te-productPage__content-delivery ul li, .te-productPage__content-pay ul li, .te-productPage__content-garanty ul li {
  margin-bottom: 10px;
}
.te-productPage__content-delivery ul li img, .te-productPage__content-pay ul li img, .te-productPage__content-garanty ul li img {
  float: left;
}
.te-productPage__content-delivery ul li p, .te-productPage__content-pay ul li p, .te-productPage__content-garanty ul li p {
  font-size: 19px;
  color: #000;
  margin: 0;
}
.te-productPage__content-delivery ul li span, .te-productPage__content-pay ul li span, .te-productPage__content-garanty ul li span {
  font-size: 16px;
  color: #8c8c8c;
}
.te-productPage__content-price {
  padding: 100px 10px 50px;
  text-align: center;
}
.te-productPage__content-price span {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
.te-productPage__content-price .te-stockStatus {
  font-weight: 400;
  font-size: 12px;
}
.te-productPage__content-btn {
  padding: 50px 10px 0;
}
.te-productPage__content-btn .te-btnCart,
.te-productPage__content-btn .te-btnOne {
  -webkit-box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
  background: #30acbc;
  border: 1px solid #30acbc;
  color: #fff;
  display: block;
  margin: 20px auto;
  width: 160px;
  border-radius: 3px;
}
.te-productPage__content-btn .te-btnCart:hover,
.te-productPage__content-btn .te-btnOne:hover {
  background: #474747;
  text-decoration: none;
  border-color: #474747;
}
.te-productPage__content-btn .te-btnCart img,
.te-productPage__content-btn .te-btnOne img {
  float: left;
}
.te-productPage__content-btn .te-btnOne {
  border: none;
  background: #e9e9e9;
  color: #474747;
  font-size: 13px;
  border: 1px solid #e9e9e9;
}
.te-productPage__content-btn .te-btnOne:hover {
  background: #474747;
  color: #fff;
  text-decoration: none;
}
.te-productPage__content-link {
  padding: 75px 10px 25px;
}
.te-productPage__content-link ul li {
  margin-bottom: 15px;
}
.te-productPage__content-link ul li a {
  color: #30acbc;
  font-size: 14px;
}
.te-productPage__content-link ul li a img {
  margin-right: 5px;
}
.te-productPage__content-text p {
  font-size: 16px;
}
.te-productPage__content-text a {
  font-size: 14px;
  color: #30acbc;
}
.te-productPage__content .te-tabs {
  border: 1px solid #000;
  padding: 10px;
  margin: 15px 0;
}

/*media */
@media screen and (max-width: 991px) {
  .te-footer__social {
    width: 135px;
    margin-top: 10px;
  }

  .te-footer__map {
    padding-top: 10px;
  }

  .te-productPage__title span:after,
  .te-productPage__content-code span:after {
    content: none;
  }

  .te-popular__header {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .te-productPage__content-btn, .te-productPage__content-price, .te-productPage__content-link {
    padding: 0;
  }
  .te-productPage__content-link {
    max-width: 150px;
    margin: 0 auto;
  }

  .te-footer__map iframe {
    width: 100%;
  }

  .te-productPage__content-soc p {
    float: none;
    text-align: center;
  }

  .te-productPage__content-soc ul {
    text-align: center;
  }

  .te-footer__bottom {
    padding-top: 20px;
  }

  .te-breadcrumbs {
    width: 100% !important;
  }
}
@media screen and (max-width: 380px) {
  .te-productPage__title h1 {
    text-align: center;
    float: none;
  }

  .te-productPage__title span {
    display: none;
  }
}
/*TE style */
