/*TE style*/
* 
	outline: none !important
	font-family: 'PT Sans', sans-serif
	transition: .5s

body
	background-color: #e9eaea

ul
	margin: 0
	padding: 0 !important
	li
		list-style: none

.clearfix
	display: block
	content: ''
	clear: both

.te-footer
	background-image: url(../img/footer_bg.jpg)
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	min-height: 580px
	&__bottomMenu
		ul
			li
				padding: 0 10px
				display: inline-block
				a
					font-size: 16px
					text-transform: uppercase
					color: #fff
	&__social
		width: 200px
		margin: 0 auto
		ul
			li
				float: left
				padding: 0 2px
				a
					img
	&__bottom
		background: rgba(0,0,0,.3)
		height: 120px
		margin-top: 50px
		padding-top: 50px
	&__map
		iframe
			width: 500px
			height: 450px
			margin: 55px auto 0
			display: block
	&__info
		max-width: 380px
		margin: 0 auto
		font-size: 16px
		font-style: italic
		color: #fff
		a
			color: #fff
			&:hover
				color: #fff
		&-phone
			float: left
		&-mail
			float: right
	&__form
		max-width: 410px
		margin: 0 auto
		input, textarea
			border-radius: 5px
			font-size: 16px
			padding: 5px
			text-align: center
			border: none
			width: 100%
			height: 40px
			margin: 5px
		textarea
			height: 90px
			text-align: left
			padding: 15px
			resize: none
		.te-submit
			color: #27a9b5
	&__shop
		color: #fff
		margin-top: 50px
		h4
			font-size: 20px
			text-align: center
		ul
			max-width: 420px
			margin: 0 auto
			li
				float: left
				text-align: center
				padding: 0 10px
				a
					color: #fff
					font-size: 18px

.te-popular,
	&__header
		background-image: url(../img/header_bg.jpg)
		background-size: cover
		background-position: center center
		background-repeat: no-repeat
		min-height: 73px
		h2
			font-size: 24px
			color: #fff
			text-align: center
			font-weight: 400
			display: inline-block
			width: 100%
		.row:nth-child(2)
			.col-lg-12
				padding: 0
	&__slider
		margin-bottom: 50px

.te-productCard
	width: 250px
	background-color: #fff
	padding: 10px
	margin: 25px
	box-shadow: 1px 1px 11px 0px rgba(0,0,0, .2)
	&__img
		img
			display: block
			margin: 0 auto
			padding: 15px 0
	&__title
		text-align: center
		a
			font-size: 16px
			color: #27a9b5
			margin: 20px 0
			display: inline-block
	&__info
		font-size: 14px
		a
			margin: 0 0 5px
			color: #b5b5b5
		span
			float: right
		p
			margin: 0 0 5px
			color: #b5b5b5
		.te-instock
			color: #72b462
		.te-price_old
			text-decoration: line-through
		img
			display: inline-block !important
	&__btn
		margin: 20px auto
		&-cart,
		&-one
			float: left
			background-color: #27a9b5
			padding: 10px 20px
			border: 1px solid #27a9b5
			text-align: center
			width: 100px
			font-size: 12px
			a
				color: #fff
			&:hover
				background-color: #fff
				cursor: pointer
				a
					color: #27a9b5
		&-one
			float: right
			background-color: #fff
			padding: 10px 0
			a
				color: #27a9b5
			&:hover
				background-color: #27a9b5
				a
					color: #fff	

.slick-dots
	margin: 0 auto !important
	width: 125px
	position: relative
	top: 5px
	li
		color: transparent
		border: 2px solid #afd8dd
		background: #afd8dd !important
		padding: 3px 0
		width: 20px
		height: 20px
		text-align: center
		margin: 0 3px
		float: left
		display: block
		cursor: pointer
		border-radius: 50%
		&:first-child
			margin-left: 0 !important	
		&:last-child
			margin-right: 0 !important
		button
			color: transparent
			background-color: transparent !important
			margin: 0
			padding: 0
			cursor: pointer
			opacity: 0
		&.slick-active
			border-color: #29a9b5
			background: #29a9b5 !important

.slick-track *
	cursor: pointer

.te-brand
	&__header
		background-image: url(../img/header_bg.jpg)
		background-size: cover
		background-position: center center
		background-repeat: no-repeat
		min-height: 73px
		h2
			font-size: 24px
			color: #fff
			text-align: center
			font-weight: 400
			display: inline-block
			width: 100%
		.row:nth-child(2)
			.col-lg-12
				padding: 0
	&__slider
		background: #fff
		padding: 5%
		img
			margin: 0 40px
		.te-prev,
		.te-next
			position: absolute
			left: -10px
			top: 38%
			cursor: pointer
		.te-next
			right: -10px
			left: unset

.te-categoryGrid
	.te-catItem
		background-color: #fff
		padding: 10px
		max-width: 250px
		margin: 20px auto
		&__img
			img
				display: block
				margin: 0 auto
		&__title
			margin: 15px auto
			a
				font-size: 16px
				text-align: center
				text-transform: uppercase
				color: #0a4f55
				display: block
		&__links
			ul
				margin-left: 35px
				li
					list-style-image: url(../img/li_cat.jpeg)
					margin-bottom: 10px
					a
						font-size: 16px
						color: #237e87
						span
							color: #757575

.te-bg__header
	background-image: url(../img/header_bg.jpg)
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	min-height: 73px
	h2
		font-size: 24px
		color: #fff
		text-align: center
		font-weight: 400
		display: inline-block
		width: 100%
	.row:nth-child(2)
		.col-lg-12
			padding: 0

.te-productGrid
	.te-productCard
		margin: 20px auto
	&__categoryBlock
		box-shadow: 1px 1px 11px 0px rgba(0,0,0, .2)
		border-radius: 10px
		background: #fff
		max-width: 500px
		padding: 5px 20px
		height: auto
		display: inline-block
		h2
			font-size: 15px
			text-transform: uppercase
			padding: 0 5px
			font-weight: 400
			margin-bottom: 5px
			a
				color: #545353
		ul
			float: left
			margin: 5px 25px
			li
				list-style-image: url(../img/li_cat_double.jpeg)
				margin-bottom: 10px
				a
					font-size: 14px
					color: #6b6b6b

.te-productPage
	.te-breadcrumbs
		background: #fefbf8
		padding: 10px
		margin: 10px 0
		width: max-content
		ul
			li
				display: inline-block
				&:after
					content: '>>'
					color: #30acbc
				&:last-child:after
					content: none
				a
					padding: 0 5px
					font-size: 16px
					color: #5d5d5d
	&__title
		background: #fefbf8
		margin: 10px 0
		padding: 0 10px
		display: inline-block
		width: 100%
		h1
			float: left
			font-size: 18px
		span
			float: right
			color: #fff
			background: #30acbc
			font-size: 13px
			padding: 10px
			margin-top: 5px
			&:after
					content: ''
					width: 0
					height: 0
					border-top: 19px solid transparent
					border-right: 15px solid #30acbc
					border-bottom: 19px solid transparent
					position: absolute
					right: 154px
					top: 15px
	&__content
		background: #fefbf8
		padding: 20px
		&-code
			span
				float: left
				color: #fff
				background: #30acbc
				font-size: 13px
				padding: 10px
				margin-top: 5px
				left: -10px
				position: relative
				margin-bottom: 10px
				&:after
					content: ''
					width: 0
					height: 0
					border-top: 19px solid transparent
					border-left: 15px solid #30acbc
					border-bottom: 19px solid transparent
					position: absolute
					right: -15px
					top: 0
		&-img
			img
				width: 100%
			p
				color: #ff9f00
				text-align: center
				font-size: 12px
		&-imgSmall
			img
				max-width: 104px
				float: left
				margin: 10px 5px
				&:first-child
					margin-left: 0
				&:last-child
					margin-right: 0
		&-soc
			max-width: 370px
			margin: 0 auto
			p
				font-size: 11px
				float: left
				margin: 10px
			ul
				li
					display: inline-block
					a
						img
							border: 1px solid #30acbc
							padding: 5px
							margin: 5px
		&-rait
			margin: 20px auto 60px
			width: 290px
			img, p, a
				float: left
				margin: 0
			p
				margin: 0 20px
			a
				color: #30acbc
		&-delivery,
		&-pay,
		&-garanty
			background: #fff
			padding: 30px
			margin: 20px
			ul
				li
					margin-bottom: 10px
					img
						float: left
					p
						font-size: 19px
						color: #000
						margin: 0
					span
						font-size: 16px
						color: #8c8c8c
		&-price
			padding: 100px 10px 50px
			text-align: center
			span
				text-align: center
				font-size: 25px
				font-weight: 600
			.te-stockStatus
				font-weight: 400
				font-size: 12px
		&-btn
			padding: 50px 10px 0
			.te-btnCart,
			.te-btnOne
				box-shadow: 1px 1px 11px 0px rgba(0,0,0, .2)
				text-align: center
				font-size: 16px
				padding: 10px 20px
				background: #30acbc
				border: 1px solid #30acbc
				color: #fff
				display: block
				margin: 20px auto
				width: 160px
				border-radius: 3px
				&:hover
					background: #474747
					text-decoration: none
					border-color: #474747
				img
					float: left
			.te-btnOne
				border: none
				background: #e9e9e9
				color: #474747
				font-size: 13px
				border: 1px solid #e9e9e9
				&:hover
					background: #474747
					color: #fff
					text-decoration: none
		&-link
			padding: 75px 10px 25px
			ul
				li
					margin-bottom: 15px
					a
						color: #30acbc
						font-size: 14px
						img
							margin-right: 5px
		&-text
			p
				font-size: 16px
			a
				font-size: 14px
				color: #30acbc
		.te-tabs
			border: 1px solid #000
			padding: 10px
			margin: 15px 0



/*media*/
@media screen and (max-width: 991px)
	.te-footer__social
		width: 135px
		margin-top: 10px
	.te-footer__map
		padding-top: 10px
	.te-productPage__title span:after,
	.te-productPage__content-code span:after
				content: none
	.te-popular__header
		padding-bottom: 10px

@media screen and (max-width: 767px)
	.te-productPage
		&__content
			&-btn,
			&-price,
			&-link
				padding: 0
			&-link
				max-width: 150px
				margin: 0 auto
	.te-footer__map iframe
		width: 100%
	.te-productPage__content-soc p
		float: none
		text-align: center
	.te-productPage__content-soc ul
		text-align: center
	.te-footer__bottom
		padding-top: 20px
	.te-breadcrumbs
		width: 100% !important

@media screen and (max-width: 380px)
	.te-productPage__title h1
		text-align: center
		float: none
	.te-productPage__title span
		display: none
/*TE style*/